@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:wght@100;200;300;400;600&family=Pacifico&display=swap');
@font-face {
	src : url(fonts/font.otf);
	font-family: 'New font';
}
*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
}
h1,  h2, h3, h4,  h5,  h6{
	font-family: 'Fredericka the Great', cursive;
	font-weight: 400;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
/*=-=-=--==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-
						style start
=-=-=--=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-*/

.main-menu a.button{
	background-color: transparent;
	border: none;
}
.button.fast {
  --duration: .32s;
}
.button {
  --background: #000;
  --text: #000;
  --font-size: 16px;
  --duration: .44s;
  --move-hover: -4px;
  --shadow: ;
  --shadow-hover:;
  --font-shadow: var(--font-size);
  padding: 16px 32px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: var(--font-size);
  border-radius: 24px;
  display: block;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: .5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  -webkit-transform: translateY(var(--y));
          transform: translateY(var(--y));
  transition: box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  transition: transform var(--duration) ease, box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
}
.button span {
  display: flex;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.button span i {
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-style: normal;
  transition: -webkit-transform var(--duration) ease;
  transition: transform var(--duration) ease;
  transition: transform var(--duration) ease, -webkit-transform var(--duration) ease;
  -webkit-transform: translateY(var(--m));
          transform: translateY(var(--m));
}
.button span i:nth-child(1) {
  transition-delay: 0.05s;
}
.button span i:nth-child(2) {
  transition-delay: 0.1s;
}
.button span i:nth-child(3) {
  transition-delay: 0.15s;
}
.button span i:nth-child(4) {
  transition-delay: 0.2s;
}
.button span i:nth-child(5) {
  transition-delay: 0.25s;
}
.button span i:nth-child(6) {
  transition-delay: 0.3s;
}
.button span i:nth-child(7) {
  transition-delay: 0.35s;
}
.button span i:nth-child(8) {
  transition-delay: 0.4s;
}
.button span i:nth-child(9) {
  transition-delay: 0.45s;
}
.button span i:nth-child(10) {
  transition-delay: 0.5s;
}
.button span i:nth-child(11) {
  transition-delay: 0.55s;
}
.button:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
}
.button:hover i {
  --m: calc(var(--font-size) * -1);
}
.button.reverse {
  --font-shadow: calc(var(--font-size) * -1);
}
.button.reverse:hover i {
  --m: calc(var(--font-size));
}
header{
	background: url(images/banner.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.menu-ariya{
	display: flex;
	padding: 20px 25px;
}
.logo{
	width: 15%;
}
.Contact{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-bottom: 30px;
}
.Contact h6{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-weight: bold;
	padding: 0 10px;
	text-transform: uppercase;
}
.Contact h5{
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
}
.menu{
	width: 85%;
}
.menu ul{
	display: flex;
	justify-content: flex-end;
}
.menu ul li{
	padding: 0 20px;
}
.menu ul li a{
	padding: 10px 20px;
	text-transform: uppercase;
	color: #d63031;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: 0.5s;
	display: block;
}
.menu a:hover{
	color: #000;
}
.hedar-content{
	padding: 70px 50px;
	width: 70%;
}
.hedar-content h4{
	font-size: 58px;
	font-family: 'New font';
	text-transform: capitalize;
	margin-bottom: 35px;
}
.hedar-text h1{
	text-transform: uppercase;
	font-size: 90px;
	position: relative;
	margin-bottom: 35px;
}
.hedar-text{
	position: relative;
	width: 75%;
	text-align: center;
}
.hedar-text::after{
	content: '';
	width: 450px;
	height: 2px;
	background-color: #ccb201;
	position: absolute;
	top: 225px;
	left: 10%;
}
.hedar-text p{
	font-size: 27px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 36px;
	align-items: center;
}
.hedar-text-2 h4{
	text-transform: uppercase;
	font-size: 19px;
	font-family: 'Fredericka the Great', cursive;
	margin-bottom: 0;
}
.hedar-text-2{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}
.hedar-text-2 h1{
	font-size: 19px;
	margin-bottom: 0;
	padding: 0 5px;
}
.hedar-text-2 .plus h1{
	font-size: 70px;
	margin-bottom: 0;
}
.hedar-text a{
	color: #000;
	font-size: 21px;
	text-transform: uppercase;
	border: 2px solid #000;
	padding: 15px 30px;
	transition: 0.8s;
	font-weight: bold;
}
.hedar-text a:hover{
	background-color: #000;
	color: #fff;
}



.Choose-ariya{
	padding: 80px 0;
}
.Choose-text{
	width: 90%;
	text-align: center;
	margin: auto;
	margin-bottom: 40px;
}
.Choose-text h1{
	text-transform: uppercase;
	margin: 25px;
}
.Choose-content{
	text-align: center;
	position: relative;
}
.Choose-content p{
	margin-bottom: 30px;
}
.Choose-content a{
	color: #000;
	background-color: #ffdf01;
	padding: 10px 40px;
	border: 2px solid #ffdf01;
	transition: 0.5s;
	font-weight: bold;
	text-transform: uppercase;
}
.col-lg-4 .title h4{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
}
.Yummy-cake .title p{
	margin-bottom: 45px;
}
.Choose-content a:hover{
	background-color: transparent;
	color: #000;
}
.bag-img{
	position: absolute;
	top: 20%;
	z-index: -5;
}

